<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagram page</title>
</head>
<body>
    <h2>this page belongs to @ <%= Userdata.name %> </h2>
    <p>
        followers : <%= Userdata.followers %> &nbsp;&nbsp;&nbsp;&nbsp; followings : <%= Userdata.followings %>
    </p>
    <hr />
    <% for(let post of Userdata.posts) { %>
        <img src="<%= post.image %>" alt="image of user" />
        <p>
            likes : <%= post.likes %>  &nbsp;&nbsp;&nbsp;&nbsp; comments : <%= post.comments %>
        </p>
    <% } %>
</body>
</html>